body {
  line-height: 1.5;
  font-size: 1rem;
  background-color: $offWhite;
}

.serif{
 font-family: 'Noto Serif TC', serif;
}

.sans{
  font-family: 'Noto Sans TC', sans-serif;
}

*,*::before,*::after{
  box-sizing: border-box !important;
}