<nav class="navbar navbar-expand-lg my-4">
  <div class="container-fluid">
    <a href="#" class="navbar-brand"
      ><img src="../assets/images/logo.png" width="40" height="40" alt="logo"
    /></a>
    <section>
      <a href="#" class="text-decoration-none d-flex ms-3 h-100 navbar-brand">
        <h1 class="h4 my-auto">7TAO</h1>
        <p class="my-auto ms-1 fs-9">活動訂票網</p>
      </a>
    </section>
    <div class="headerSearch ms-5 position-relative me-auto d-none d-lg-block">
      <input
        type="text"
        placeholder="探索活動"
        class="searchIcon w-355px h-55px"
      />
      <span
        class="material-symbols-outlined btn bg-primary text-secondary lh-lg ms-0 position-absolute top-0 start-100 wh-55px"
      >
        <i class="icofont-search-1"></i>
      </span>
    </div>
    <div class="member ms-auto d-none d-lg-block d-lg-flex flex-wrap">
      <div>
        <a href="#" class="text-decoration-none">
          <i class="icofont-ui-file fs-8"></i>
          <span class="fs-8">REGISTER</span>
        </a>
      </div>
      <div class="ms-lg-4 ms-0 mt-3 mt-lg-0">
        <a href="#" class="text-decoration-none">
          <i class="icofont-ui-user fs-8"></i>
          <span class="fs-8">REGISTER</span>
        </a>
      </div>
    </div>
    <!-- <div class="member ms-auto d-flex align-md-items-center flex-column flex-lg-row mt-4 mt-lg-0">
      <div >
        <a href="#" class="text-decoration-none">
          <i class="icofont-ui-file fs-8"></i>
          <span class="fs-8">REGISTER</span>
        </a>
      </div>
      <div class="ms-lg-4 ms-0 mt-3 mt-lg-0">
        <a href="#" class="text-decoration-none">
          <i class="icofont-ui-user fs-8"></i>
          <span class="fs-8">REGISTER</span>
        </a>
      </div>
    </div> -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse w-100" id="navbarContent">
      <div class="headerSearch ms-5 position-relative me-auto d-none d-lg-block">
        <input
          type="text"
          placeholder="探索活動"
          class="searchIcon w-355px h-55px"
        />
        <span
          class="material-symbols-outlined btn bg-primary text-secondary lh-lg ms-0 position-absolute top-0 start-100 wh-55px"
        >
          <i class="icofont-search-1"></i>
        </span>
      </div>
      <div class="member ms-auto d-flex align-md-items-center flex-column flex-lg-row mt-4 mt-lg-0">
        <div >
          <a href="#" class="text-decoration-none">
            <i class="icofont-ui-file fs-8"></i>
            <span class="fs-8">REGISTER</span>
          </a>
        </div>
        <div class="ms-lg-4 ms-0 mt-3 mt-lg-0">
          <a href="#" class="text-decoration-none">
            <i class="icofont-ui-user fs-8"></i>
            <span class="fs-8">REGISTER</span>
          </a>
        </div>
      </div>
      <ul class="navbar-nav d-block d-lg-none">
        <li class="nav-item">1</li>
        <li class="nav-item">2</li>
        <li class="nav-item">3</li>
        <li></li>
        <li></li>
      </ul>
    </div> -->
  </div>
</nav>
