<div class="container-fluid mb-4 position-absolute ms-n5 me-n5 top-94px left-50px bg-origin" >
  <div class="collapse navbar-collapse " id="navbarContent">
    <div class="navbar-nav d-block d-lg-none">
      <div
        class="memberMobile d-flex align-md-items-center flex-column flex-lg-row mt-4 mt-lg-0 d-block d-lg-none position-relative"
      >
        <div>
          <a href="#" class="text-decoration-none">
            <i class="icofont-ui-file fs-8"></i>
            <span class="fs-8">REGISTER</span>
          </a>
        </div>
        <div class="ms-lg-4 ms-0 mt-3 mt-lg-0 mb-4">
          <a href="#" class="text-decoration-none">
            <i class="icofont-ui-user fs-8"></i>
            <span class="fs-8">LOGIN</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
