.banner{
    background-image: url("../images/event/13.jpg");
    max-width:1296px;
    height:518px;
    background-repeat: no-repeat;
    background-size:cover;
    object-fit:fill;
    background-position: center center;
    margin:0 auto;
}