@mixin rwd($medium) {
  @media (min-width: $small) {
    @content;
  }
  @media (min-width: $medium) {
    @content;
  }
  @media (min-width: $large) {
    @content;
  }
}

.header img {
  @include rwd($medium) {
    width: 55px;
    height: 55px;
  }
}

// .recentContent li:nth-child(2),
// .recentContent li:nth-child(3), .activeContent li:nth-child(2)
// , .activeContent li:nth-child(3)
// , .activeContent li:nth-child(4)
// , .activeContent li:nth-child(5)
// , .activeContent li:nth-child(6)
// , .activeContent li:nth-child(7)
// , .activeContent li:nth-child(8)
// , .activeContent li:nth-child(9)
// , .activeContent li:nth-child(10)
// , .activeContent li:nth-child(11)
// , .activeContent li:nth-child(12)
//  {
//   margin-top: 48px !important;
//   @include rwd($medium) {
//     margin-top: 0px !important;
//   }
// }

.recentContent li {
  width: 100%;
  @include rwd($medium) {
    width: 33%;
  }
}

.container .category li {
  width: 32% !important;
  @include rwd($medium) {
    width: 13% !important;
  }
}

.recent section h2,
.online section h2,
.activeContent section h2 {
  font-size: 24px;
  @include rwd($medium) {
    font-size: 64px;
  }
}

.recent section p,
.online section p,
.activeContent section p {
  font-size: 16px;
  @include rwd($medium) {
    font-size: 24px;
  }
}

.online h4 {
  font-size: 18px;
  font-weight: bold;
  @include rwd($medium) {
    font-size: 32px;
  }
}

.online img {
  max-width: 100%;
  height: 158px;
  object-fit: cover;
  @include rwd($medium) {
    height: 317px;
  }
}

.online ul {
  margin-top: 8px;
  @include rwd($medium) {
    margin-top: 16px;
  }
}

.online p {
  margin-top: 12px;
  @include rwd($medium) {
    margin-top: 32px;
  }
}

.detailButton {
  margin-top: 12px;
  @include rwd($medium) {
    margin-top: 32px;
  }
}


@include media-breakpoint-down(xxl){
  .activity li{
    width: 30%;
    margin:60px auto;
  }
  
}

@include media-breakpoint-down(lg){
  .activity li{
    width: 90%;
    margin:12px auto;
  }
}



.event li:not(:first-child) {
  margin-top: 32px;
  @include rwd($medium) {
    margin-top: 0px;
  }
}

.followUsTitle,
.subscribeUsTitle {
  padding: 16px 0px 16px 12px;
  font-size: 24px;
  font-weight: bold;
  @include rwd($medium) {
    padding: 16px 0px 16px 32px;
    font-size: 32px;
  }
}

.followUsContent,
.subscribeUsContent {
  padding: 16px 12px;
  @include rwd($medium) {
    padding: 32px;
  }
}

.followUsContent ul,
.subscribeUsContent ul {
  margin-top: 16px;
  @include rwd($medium) {
    margin-top: 32px;
  }
}

.notice h2 {
  font-size: 18px;
  margin-top: 48px;
  text-align: center;
  @include rwd($medium) {
    font-size: 32px;
    margin-top: 60px;
  }
}

.notice small {
  font-size: 14px;
  margin-top: 12px;
  text-align: center;
  @include rwd($medium) {
    font-size: 18px;
    margin-top: 16px;
  }
}

footer p {
  font-size: 14px;
  padding: 24px 0px;
  @include rwd($medium) {
    font-size: 16px;
    padding: 32px 0px;
  }
}

.event ul {
  margin-top: 12px;
  @include rwd($medium) {
    margin-top: 32px;
  }
}

.event li {
  display: flex;
  align-items: center;
}

.eventContent li:nth-child(2),
.eventContent li:nth-child(3) {
  margin-top: 48px !important;
  @include rwd($medium) {
    margin-top: 0px !important;
  }
}

.eventContent li {
  width: 100%;
  @include rwd($medium) {
    width: 33%;
  }
}

// .activeContent li:nth-child(2),
// .activeContent li:nth-child(3) {
//   margin-top: 48px !important;
//   @include rwd($medium) {
//     margin-top: 0px !important;
//   }
// }

.acitveContent li {
  width: 100%;
  @include rwd($medium) {
    width: 33%;
  }
}

.activeTags {
  margin-top: 12px;
  @include rwd($medium) {
    margin-top: 32px;
  }
}

.activePage {
  margin-top: 32px;
  @include rwd($medium) {
    margin-top: 60px;
  }
}

.pagination li:nth-child(n + 3):nth-child(-n + 5) {
  margin-left: 4px;
  margin-right: 4px;
}

.pagination li:nth-child(2) {
  margin-left: 8px;
  margin-right: 4px;
}

.pagination li:nth-child(6) {
  margin-left: 4px;
  margin-right: 8px;
}

.activePage {
  margin-bottom: 48px;
  @include rwd($medium) {
    margin-bottom: 60px;
  }
}

@include media-breakpoint-down(md) {
  .subscribeUsTitle,
  .subscribeUsContent,
  .aboutButton {
    border-left:2px solid black !important;
  }
}
