.memberMobile::after {
  content: "";
  border: 3px solid #030303;
  top: 90px;
  left: -300px;
  right: 0;
  margin: auto;
  width: 200%;
  position: absolute;
}
.h2-transform {
  transform: translate(-50%, -50%) rotate(-4deg);
}

.item {
  img {
    object-fit: cover;
    height: 274px;
  }
}

.event li {
  &:nth-child(2n) {
    transform: translate(0%) rotate(2deg);
  }
  &:nth-child(3) {
    transform: translate(0%) rotate(-2deg);
  }
}

