<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="../assets/scss/all.scss">
  </head>
  <body>
    <!-- 這裡會 include layout下的 ejs檔案，然後再寫本頁獨有的內容 -->
    <%- include('./layout/header'); -%>

    
<div class="btn btn-primary">ss</div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
