.wh- {
  &55px {
    width: 55px;
    height: 55px;
  }
}

.w- {
  &335px {
    width: 335px;
  }
  &96px{
    width: 96px;
  }
}

.h- {
  &55px {
    height: 55px;
  }
}

.headerSearch input::placeholder {
  transform: translateX(24px);
}

.mt-5 {
  margin-top: 2rem !important;
}

.mt-6 {
  margin-top: 3rem !important;
}

.mt-12px{
  margin-top: .75rem !important;
}

.pt-35px{
  padding-top: 2.1875rem !important;
}

.pb-35px{
  padding-bottom: 2.1875rem !important;
}

.pl-58px{
  padding-left: 3.625rem !important;
}

.pl-58px{
  padding-right: 3.625rem !important;
}


.ps-10{
  padding-left: 12rem !important;
}

.pe-10{
  padding-right: 12rem !important;
}

