.wh- {
  &55px {
    width: 55px;
    height: 55px;
  }
}

.w- {
  &335px {
    width: 335px;
  }
  &96px{
    width: 96px;
  }
  &32{
    width: 32px;
  }
}

.h- {
  &55px {
    height: 55px;
  }
  &32px{
    height: 32px;
  }
}

.headerSearch input::placeholder {
  transform: translateX(24px);
}

.mt-5 {
  margin-top: 2rem !important;
}

.mt-6 {
  margin-top: 3rem !important;
}

.mt-12px{
  margin-top: .75rem !important;
}

.mt-49px{
  margin-top: 3.0625rem !important;
}

.mt-60px{
  margin-top: 3.75rem !important;
}

.pt-35px{
  padding-top: 2.1875rem !important;
}

.pb-35px{
  padding-bottom: 2.1875rem !important;
}

.pb-60px{
  padding-bottom: 3.75rem !important;
}

.pl-58px{
  padding-left: 3.625rem !important;
}

.pl-58px{
  padding-right: 3.625rem !important;
}


.ps-10{
  padding-left: 12rem !important;
}

.pe-10{
  padding-right: 12rem !important;
}


.pb-12px{
  padding-bottom: 0.75rem !important;
}

.pt-12px{
  padding-top: 0.75rem !important;
}

.recentContent li:nth-child(4), .recentContent li:nth-child(5) , .recentContent li:nth-child(6){
margin-top: 48px;
}